header {
    background-color: blueviolet;
    border: 3px solid black;
    height: 100px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;

}

.login {
    background-color: blueviolet;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-basis: 50%;
    justify-content: flex-end;
    height: 100px;
    display: flex;
    align-items: flex-end;

}

.logo {
    background-color: blueviolet;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;

}

.azul {
    background-color: rgb(43, 214, 226);
    border: 3px black solid;
    width: 40px;
    height: 40px;
}

.entrar {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
}


main {
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 200px;

}


nav {
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;

}

.one {
    background-color: rgb(247, 239, 9);
    flex-basis: 15%;
    border: 3px black solid;
    margin-right: 10px;
}

.hola {
    flex-basis: 20%;
    border: 3px black solid;
    margin-right: 20px;
    background-color: rgb(247, 108, 131);

}

.hola2 {
    flex-basis: 80%;
    border: 3px black solid;
    background-color: aqua;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    


}

.hola3 {
    display: flex;
    flex-basis: 25%;
    
    background-color: aqua;
    text-align: center;
    width: 150px;
    height: 150px;
   
    
}

.hola4 {
    display: flex;
    flex-basis: 75%;
    
    background-color: white;
    align-items: center;
    text-align: start;
    font-size: small;
    overflow: hidden;
    flex-direction: column;
    width: 150px;
    height: 150px;


}

footer {
    background-color: rgb(161, 241, 179);
    border: 3px solid black;
    height: 200px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.pie1 {
    background-color: rgb(228, 156, 195);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 10px;

}

.pie2 {
    background-color: rgb(73, 255, 70);
    border: 3px solid black;
    display: flex;
    flex-basis: 33.33%;
    margin: 10px;
    flex-direction: row;
    width: 120px;
    height: 120px;

}

.end1 {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    margin-left: 30px;
    justify-content: center;
}

.end2 {
    display: flex;
    flex-basis: 80%;
    flex-direction: row;

    margin-left: 30px;
    justify-content: center;
}
.text {
   display: flex;
    text-size-adjust: 40px; 
   color: rgb(6, 6, 129);
    align-items: center;
    justify-content: space-around;
    margin: 20%;
}
body {
    display: inline-block;
    width: 100%;

}